__pycache__
*.pyc

.config/kitty/kitty.conf.bak
.config/mpd/database
.config/mpd/playlists/
.config/ncmpcpp/error.log
.config/newsboat/password.gpg
.config/nvim/plugin/packer_compiled.lua
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/history
.config/zsh/host.zsh
.local/share/
.local/state/
