*.alpha: 1.0
*.font: Cascadia Mono:size=12
XTerm*faceName: Cascadia Mono:size=12
UXTerm*faceName: Cascadia Mono:size=12
*.foreground:  #dedede
*.background:  #121212
*.cursorColor: #ffa560
*.color0:      #929292
*.color8:      #bdbdbd
*.color1:      #e27373
*.color9:      #ffa1a1
*.color2:      #94b979
*.color10:     #bddeab
*.color3:      #ffba7b
*.color11:     #ffdca0
*.color4:      #97bedc
*.color12:     #b1d8f6
*.color5:      #e1c0fa
*.color13:     #fbdaff
*.color6:      #00988e
*.color14:     #1ab2a8
*.color7:      #dedede
*.color15:     #ffffff
*.colorBD:     #ffffff
