*.font: Cascadia Mono:size=12
XTerm*faceName: Cascadia Mono:size=12
UXTerm*faceName: Cascadia Mono:size=12

*.foreground:  #e6e1cf
*.background:  #0f1419
*.cursorColor: #f29718

*.color0:      #000000
*.color8:      #323232
*.color1:      #ff3333
*.color9:      #ff6565
*.color2:      #b8cc52
*.color10:     #eafe84
*.color3:      #e7c547
*.color11:     #fff779
*.color4:      #36a3d9
*.color12:     #68d5ff
*.color5:      #f07178
*.color13:     #ffa3aa
*.color6:      #95e6cb
*.color14:     #c7fffd
*.color7:      #ffffff
*.color15:     #ffffff
*.colorBD:     #e6e1cf
