-- vim:ft=haskell
-- xmobar configuration to display extra laptop-specific information.
Config
  { font = "xft:JetBrainsMono Nerd Font"
  , bgColor = "#0f1419"
  , fgColor = "#e6e1cf"
  , commands =
      [ Run Date "%H:%M:%S %a %_d/%m/%y" "date" 10
      , Run StdinReader
      , Run
          BatteryP
          ["BAT0"]
          [ "-t"
          , "<acstatus>BAT:<left>%</fc>"
          , "--"
          , "-O"
          , "<fc=#b8cc52>^" --Charging
          , "-i"
          , "<fc=#e6e1cf>" --Idle
          , "-o"
          , "<fc=#ff3333>" --Discharging
          ]
          50
      , Run Memory ["-t", "RAM:<used>/<total>"] 10
      , Run DiskU [("/", "DISK:<used>/<size>")] [] 20
      ]
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " %StdinReader%}{ <fc=#b8cc52>%battery%</fc>  <fc=#f29718>%memory%</fc>  <fc=#36a3d9>%disku%</fc>  <fc=#e7c547>%date%</fc>"
  }
