-- vim:ft=haskell
Config
  { position = TopSize C 100 25
  , commands =
      [ Run StdinReader
      , Run Volume "default" "Master" ["-t", "<volume>%"] 10
      -- Retrieve number of bluetooth devices that are currently connected.
      , Run
          Com
          "sh"
          ["-c", "btdevices | grep \"Connected: yes\" | wc -l"]
          "bluetooth"
          20
      , Run DiskU [("/", "<used>/<size>")] [] 20
      , Run Com "sh" ["-c", "pacman -Q | wc -l"] "packages" 20
      , Run Date "%a %d %b %I:%M:%S %p" "date" 10
      ]
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " <fn=1> </fn> %StdinReader%}\
                       \%date%{\
                       \  Vol: %default:Master%\
                       \  Bt: %bluetooth%\
                       \  Disk: %disku%\
                       \  Pkgs: %packages%\
                       \ "
  }
