-- vim:ft=haskell
Config
  { font = "xft:JetBrainsMono Nerd Font"
  , bgColor = "#0f1419"
  , fgColor = "#e6e1cf"
  , commands =
      [ Run StdinReader
      , Run Volume "default" "Master" ["-t", "<volume>% 墳 "] 10
      , Run DiskU [("/", "<used>/<size> 﫭 ")] [] 20
      , Run Com "sh" ["-c", "echo \"$(pacman -Q | wc -l)  \""] "packages" 20
      , Run Date "%a %d %b %I:%M:%S %p" "date" 10
      ]
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " %StdinReader%}{\
                       \  <fc=#b8cc52>%default:Master%</fc>\
                       \  <fc=#e7c547>%disku%</fc>\
                       \  <fc=#36a3d9>%packages%</fc>\
                       \  <fc=#96e6cb>%date%</fc>\
                       \ "
  }
