-- vim:ft=haskell
Config
  { font = "xft:JetBrainsMono Nerd Font:pixelsize=15"
  , additionalFonts = ["xft:JetBrainsMono Nerd Font:bold:pixelsize=20"]
  , bgColor = "#0f1419"
  , fgColor = "#e6e1cf"
  , position = Top
  , commands =
      [ Run StdinReader
      , Run Volume "default" "Master" ["-t", "<volume>% 墳 "] 10
      , Run DiskU [("/", "<used>/<size> 﫭 ")] [] 20
      , Run Com "sh" ["-c", "echo \"$(pacman -Q | wc -l)  \""] "packages" 20
      , Run Date "%a %d %b %I:%M:%S %p" "date" 10
      ]
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " <fc=#96e6cb><fn=1> </fn></fc> %StdinReader%}{\
                       \  <fc=#36a3d9>%default:Master%</fc>\
                       \  <fc=#96e6cb>%disku%</fc>\
                       \  <fc=#36a3d9>%packages%</fc>\
                       \  <fc=#96e6cb>%date%</fc>\
                       \ "
  }
