configuration {
	width: 40;
	lines: 4;
	columns: 1;
	font: "Inter 16";
	bw: 0;
	padding: 20;
	show-icons: true;
	terminal: "st";
	drun-display-format: "{name}";
	m: "-4";
	hide-scrollbar: true;
	fake-transparency: true;
	dpi: 120;
	color-normal: "argb:00000000, #e6e1cf, argb:00000000, argb:00000000, #e7c547";
	color-window: "argb:ef101012, #fc0f1419, argb:00000000";
}
